.slider_home_page {
    .slider_item {
        padding: 5% 10%;
        padding-top: 15%; //min-height: 550px;
        background-size: cover;
        background-repeat: no-repeat center;
    }
    .owl-dots {
        margin-top: -35px !important;
        z-index: 9;
        position: relative;
    }
}

.slider_testimonials {
    text-align: center !important;
    h3 {
        font-size: 18px;
        font-style: italic !important;
        font-weight: 300 !important;
        color: #777;
    }
    h5 {
        font-weight: bold !important;
        color: #555 !important;
        &:before {
            content: '-';
            padding-right: 10px;
        }
    }
    .owl-dot {
        span {
            width: 10px;
            height: 10px;
            margin: 5px 7px !important;
            background: #D6D6D6 !important;
            display: block;
            -webkit-backface-visibility: visible !important;
            transition: opacity 200ms ease;
            border-radius: 30px !important;
        }
        &.active {
            span {
                background-color: $pt-color !important;
            }
        }
    }
}