h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

@include medium() {
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 26px
    }
    h3 {
        font-size: 22px
    }
}

@include normal() {
    h1 {
        font-size: 22px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
}

@include small(){
	    h1 {
        font-size: 20px
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.5 !important;
}

p {
    margin-bottom: 2em;
	@include normal(){
		font-size: 13px;
	}
}

a {
    //@include link($link__color);
    color: grey;
}

.section_title{
    font-size: 25px;
    color: $pt-color !important;
}

.primary_section_heading h3{
    font-weight: 300 !important;
}